// Colors
$black: #000;
$blue-dark: #11131c;
$blue-gray: #2b3040;
$nav-highlight: #a4a4a4;
$nav-highlight-active: #04e7f5;
$nav-highlight-terminal: #d8232a;
$white: #fff;

// Fonts
$avenir-heavy: 'Avenir-Heavy', 'Helvetica Neue', Helvetica, sans-serif;
