// Colors
$black: #000;
$blue-dark: #11131c;
$blue-gray: #2b3040;
$nav-blue: #04e7f5;
$nav-highlight: #a4a4a4;
$white: #fff;

// Fonts
$avenir-heavy: 'Avenir-Heavy', 'Helvetica Neue', Helvetica, sans-serif;
$avenir-regular: 'Avenir-Regular', 'Helvetica Neue', Helvetica, sans-serif;
$avenir-medium: 'Avenir-Medium', 'Helvetica Neue', Helvetica, sans-serif;
