// Colors
$black: #000;
$burgundy: #870016;
$gray: #4a4a4a;
$gray-background: #f0f0f0;
$gray-light: #a6a6a6;
$gray-line: #979797;
$gray-school: #9b9b9b;
$red: #d00;
$white: #fff;

// Fonts
$deeplus: 'BentonSans', sans-serif;