.item {
  box-sizing: content-box;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
  flex-shrink: 0;
  margin-right: 2vw;
  max-width: 16vw;
  position: relative;
  transition: transform 0.15s ease-in-out;
  transform: scale(1, 1);
  transform-origin: center center;
  width: 100%;

  &:first-child {
    padding-left: 5vw;
  }

  &:last-child {
    margin-right: 0;
    padding-right: 5vw;
  }

  .figure {
    background-color: $blue-dark;
    border-radius: 4px;
    width: 100%;
  }
}

@import 'item-keyframes';

.item.is-highlighted {
  transition-duration: 0.25s;
  transform: scale(1.1, 1.1);

  .figure::after {
    border: none;
    border-radius: 4px;
    bottom: 0;
    box-shadow:
      -4px 0 6px $nav-highlight,
      0 -4px 6px $nav-highlight,
      4px 0 6px $nav-highlight,
      0 4px 6px $nav-highlight;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(0, 0, 0);
    z-index: 1;
  }

  &.is-up .figure::after {
    animation: 1s 1 forwards to-top;
  }

  &.is-down .figure::after {
    animation: 1s 1 forwards to-bottom;
  }

  &.is-left .figure::after {
    animation: 1s 1 forwards to-left;
  }

  &.is-right .figure::after {
    animation: 1s 1 forwards to-right;
  }
}

.item__header {
  bottom: 0;
  display: none;
  padding: px-to-em(8) px-to-em(16);
  position: absolute;
  z-index: 1;
}