// Composing All Components Together
.deeplus {
  background-image: radial-gradient($blue-gray, $blue-dark);
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  &::after {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.01), $black);
    content: '';
    right: 0;
    top: 0;
    width: 7vw;
    height: 100%;
    position: absolute;
  }
}

.deeplus__container {
  perspective: 1em;
  position: relative;
  transition: transform 0.35s ease-in-out;
  transform: translate3d(0, 0, 0);
}