<header class="header{{#if className}} {{className}}{{/if}}">
  {{#compare hType '===' 'h2'}}
  <h2 class="header__hed">{{{hed}}}</h2>
  {{/compare}}
  {{#compare hType '===' 'h3'}}
  <h3 class="header__hed">{{{hed}}}</h3>
  {{/compare}}
</header>
