<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeePlus</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="nofollow, noindex" />
</head>
<body>

{{!-- TODO FIXME Preload any assets --}}
{{!-- <link rel="preload" as="image" href="TK" /> --}}

{{> containers/main/main}}

</body>
</html>